@import "tailwindcss";

@font-face {
  font-family: "SatoshiRegular";
  src: url("/fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SatoshiMedium";
  src: url("/fonts/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SatoshiBold";
  src: url("/fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-satoshi-regular {
  font-family: "SatoshiRegular";
}

.font-satoshi-medium {
  font-family: "SatoshiMedium";
}

.font-satoshi-bold {
  font-family: "SatoshiBold";
}
